<div class="container">

<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.unsplash.com/photo-1453825012366-3738046cb6c7?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2089&q=80);">
  <div>
  <div>
    <h1>Cocktails9000</h1>
    <p>Find the best cocktails to get wasted with class</p>
    <%= button_to "Create a new cocktail", new_cocktail_path,
      :class => "btn btn-flat", :method => :get %>
  </div>
</div>

<div>
    <ul class="index-list">
<% @cocktails.each do |cocktail| %>

    <div class="card-trip">
      <%= cl_image_tag cocktail.photo.key, height: 300, width: 400, crop: :fill %>
      <li id="card-text"><h2 id="card-title"><%= link_to cocktail.name, cocktail_path(cocktail)%></h2>
       <%= link_to cocktail_path(cocktail), method: :delete do %>
      <img id="trash" src="https://img.icons8.com/cotton/64/000000/trash.png">
      <%end%>
      </li>


    </div>


<% end %>

  </ul>

</div>

</div>





