<h1>Cocktails#index - all cocktails</h1>

<% @cocktails.each do |cocktail| %>
  <ul>
    <li><%= link_to cocktail.name, cocktail_path(cocktail) %></li>
    <%= link_to "Delete this cocktail", cocktail_path(cocktail), method: :delete %>
  </ul>
<% end %>

  <%= link_to 'Make a new cocktail', new_cocktail_path %>
