// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap/scss/bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";

// Your CSS partials
@import "components/index";
@import "pages/index";
@import "cocktails";
@import "doses";

html, body {
    min-height: 100%;
}
body {
    background-image: url(https://images.unsplash.com/photo-1509807995916-c332365e2d9e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2171&q=80);
    background-repeat: repeat;
    background-position: 0 0;
    background-size: cover;
    color: white;
}
@media (min-width: 1120px), (min-height: 630px) {
    body { background-size: auto; }
}


