// Place all the styles related to the Cocktails controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.banner {
  background-size: cover;
  background-position: center;
  padding: 20px 0;
}

.banner h1 {
  margin: 0;
  color: white;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  font-size: 32px;
  font-weight: bold;
}

.banner p {
  font-size: 20px;
  color: white;
  opacity: .7;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
}

li {
  color: black;
  list-style-type: none;
}

a {
  color: black;
}

.btn-flat {
  color: white;
  padding: 8px 24px;
  border-radius: 4px;
  background: #1EDD88;
  transition: background 0.3s ease;
  margin: 10px;
}

.btn-flat:hover {
  background: #1BCB7F;
  color: white;
}

.index-list {
  display: flex;
 flex-wrap: wrap;
}

.card-trip {
  overflow: hidden;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  border-radius: 5px;
  margin: 10px;
  position: static;
  width: 200px;
}

.card-trip > img {
  height: 220px;
  width: 200px;
  object-fit: cover;
  border-radius: 0;
}

.card-trip h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.card-trip p {
  font-size: 12px;
  opacity: .7;
  margin: 0;
}

#card-text {
  display:flex;
  background-color: white;
}

#trash {
    width: 20px;
    height: 20px;
    margin-left: 176px;
    position: relative;
    top: -35px;
}

#card-title {
  padding: 7px;
}

#trash-show-big {
  width: 50px;
  height: 50px;
}

.doses {
  display: flex;
}

.show-header {
  display: flex;
}

img {
  border-radius: 10px;
}

.mainbutton {
  margin-left: 40px;
  margin-top: 0;
}

#headline {
  margin: 40px;
  color: #1BCB7F;
}

/* [1] The container */
.img-hover-zoom {
  // height: 300px; /* [1.1] Set it as per your need */
  overflow: hidden; /* [1.2] Hide the overflowing of child elements */
}

/* [2] Transition property for smooth transformation of images */
.img-hover-zoom img {
  transition: transform .8s ease;
}

/* [3] Finally, transforming the image when container gets hovered */
.img-hover-zoom:hover img {
  transform: scale(1.1);
}

.rating {
    position: relative;
    right: 190px;
    top: -3px;
    color: #1EDD88;
        margin-top: 264px;
    margin-left: -11px;
}


